@import "../../../scss/variables";

.light.DepartmentBlock,
.dark.DepartmentBlock {
  width: calc(100% / 3 - $mg);
  margin-right: $mg;
  margin-bottom: $mg;
}

.light .DepartmentBlock {
  box-shadow: $card-box-shadow;
  &__container {
    &-content {
      border-radius: 5px 5px 0 0;
      border: none;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      color: white;
      &-txt {
        flex: 5;
        font-size: 15px;
      }

      &-img {
        display: flex;
        justify-content: end;
        flex: 5;

        svg {
          font-size: 50px;
        }
      }
    }

    &-navigate {
      padding: 10px 0;
      display: flex;
      justify-content: center;
      border-radius: 0 0 5px 5px;
      border: none;
      background-color: $layout-lightmode-bg-color;

      &-txt {
        margin-right: $mg;
      }

      &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: $white;
        // svg {
        //   font-size: 10px;
        // }
      }
    }
  }
}

.dark .DepartmentBlock {
  box-shadow: $card-box-shadow-darkmode;
  &__container {
    &-content {
      border-radius: 5px 5px 0 0;
      border: none;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      color: white;

      &-txt {
        flex: 5;
        font-size: 15px;
      }

      &-img {
        display: flex;
        justify-content: end;
        flex: 5;

        svg {
          font-size: 50px;
        }
      }
    }

    &-navigate {
      padding: 10px 0;
      display: flex;
      justify-content: center;
      border-radius: 0 0 5px 5px;
      border: none;
      background-color: $layout-darkmode-bg-color;

      &-txt {
        margin-right: $mg;
      }

      &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: $white;
        // svg {
        //   font-size: 10px;
        // }
      }
    }
  }
}

//responsive
@media (max-width: 768px) {
  .light.DepartmentBlock,
  .dark.DepartmentBlock {
    width: calc(100% / 2 - $mg);
    margin-right: $mg;
    margin-bottom: $mg;
  }
}
