@import "../../../../scss/variables";

.UpdateModal {
  #normal_update {
    margin-top: 20px;
  }

  .form-footer {
    display: flex;
    justify-content: end;

    button {
      margin-left: 10px;
    }
  }
}
