* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.font-face-qsr {
  font-family: "QuicksandRegular";
}

.font-face-qsm {
  font-family: "QuicksandMedium";
}

.font-face-qsb {
  font-family: "QuicksandBold";
}
